h1, h2, h3 { font-family: 'Verdana';}


ul {
    
    list-style-type: none;
    display: flex;
    align-items: left;
}



li .button {
background-color: rgb(221, 5, 59) ;
color:rgb(205, 225, 228);
text-decoration: none;
border: none;
padding: 12px 22px;
text-align: center;
display: block;
font-size: 15px;

}


